.thunderclap
	h2
		font-size 30px
		line-height OneAndAHalfLineHeights
		margin-top OneAndAHalfLineHeights

		@media only screen and (min-width: 820px)
			font-size 36px
			line-height TwoLineHeights
			margin-top TwoLineHeights

	h2, h3
		margin-bottom OneLineHeight
		text-align center

	.join-thunderclap
		background url('../images/broadcast-icon.svg') top center no-repeat
		background-size 200px 200px
		margin-top OneLineHeight
		padding-top 210px

		.no-svg &
			background url('../images/broadcast-icon.png') top center no-repeat

		@media only screen and (min-width: 820px)
			padding-top 230px

		.button
			height auto
			margin-right auto
			margin-bottom OneLineHeight
			margin-left auto
			max-width 290px

			@media only screen and (min-width: 820px)
				margin-bottom OneAndAHalfLineHeights


	.intro
		font-size 20px

		@media only screen and (min-width: 820px)
			font-size 24px
			line-height OneAndAHalfLineHeights
			text-align center

	.countdown
			border-bottom none
			font-family "Avenir Next Ultra Light", "Avenir Next", Avenir, 'Helvetica Neue', Helvetica, sans-serif
			margin-bottom 20px
			text-align center

			@media only screen and (min-width: 820px)
				margin-top 100px

		.days
			color black-seventy
			font-size 85px
			font-weight normal
			line-height ThreeLineHeights

			@media only screen and (min-width: 480px)
				font-size 95px
				line-height ThreeLineHeights

			@media only screen and (min-width: 820px)
				font-size 150px

		.days-remaining
			font-weight bold

		.to-freedom
			color black-sixty
			display block
			font-size 50px

			@media only screen and (min-width: 480px)
				font-size 60px

			@media only screen and (min-width: 820px)
				font-size 60px
				line-height TwoAndAHalfLineHeights