.contact
	border-bottom neutral6 1px solid
	overflow hidden
	padding-bottom 15px

	@media only screen and (min-width: 760px)
		padding-bottom 0

	.contact--heading
		border-bottom neutral9 2px dotted
		color neutral3
		display block
		font-size 21px
		font-weight bold
		line-height 40px
		margin-bottom 15px
		padding-top 8px
		padding-bottom 0
		text-transform uppercase

		@media only screen and (min-width: 760px)
			float left
			margin-top 2px
			margin-right 20px
			margin-bottom 28px
			padding-bottom 5px

		.wf-active &
			abril-display-extra-bold()
			font-size 24px
			padding-top 10px

	.contact--details
		font-size 17px
		line-height 30px

		.wf-active &
			font-size 19px

		@media only screen and (min-width: 760px)
			float left
			font-size 19px
			line-height 55px

	.contact--hours
		display block
		font-size 16px

		.wf-active &
			font-size 17px

		@media only screen and (min-width: 760px)
			margin-top -5px
			line-height 15px
			text-align left