body
	font-size 24px
	line-height 37.5px
	margin 0
	min-width 320px /* keep width reasonable */

.main
	background white
	dropshadow()
	margin 0
	max-width 800px
	padding 15px 20px

	@media only screen and (min-width: 450px)
		margin 0 auto
		padding 30px

	@media only screen and (min-width: 760px)
		margin 30px auto
		padding 45px 15px 30px 15px

	@media only screen and (min-width: 800px)
		padding 45px 45px 30px 45px

// As it wasn’t built to use the baseline font size change for the entire site,
// set the size of the nav manually.
.indie-tech-navigation--list li
	@media only screen and (max-width: 556px)
		font-size 14px
		line-height 30px

.indie-tech-navigation--list li.active a, .indie-tech-navigation--list li a
	@media only screen and (max-width: 556px)
		padding 0 7px 0 7px

footer
	font-size 16px
	line-height 24px
	margin-top 24px

.privacy, .code-of-conduct
	text-align left
	border-bottom neutral3 2px dotted

	h2
		text-align center

	h3
		font-size 20px
		margin-top 24px
		margin-bottom 12px
	
	p
		margin-bottom 16px

.code-of-conduct-credit
	text-align center