// Mixins

border-box()
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

border-radius()
	-webkit-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition: all arguments ease;
	-moz-transition: all arguments ease;
	-ms-transition: all arguments ease;
	-o-transition: all arguments ease;
	transition: all arguments ease;

dropshadow()
	-webkit-box-shadow 1px 1px 0 1px neutral9, 2px 2px 0 1px neutral9, 3px 3px 0 1px neutral9, 4px 4px 0 1px neutral9, 5px 5px 0 1px neutral9, 6px 6px 0 1px neutral9, 7px 7px 0 1px neutral9, 8px 8px 0 1px neutral9, 9px 9px 0 1px neutral9, 10px 10px 0 1px neutral9
	box-shadow 1px 1px 0 1px neutral9, 2px 2px 0 1px neutral9, 3px 3px 0 1px neutral9, 4px 4px 0 1px neutral9, 5px 5px 0 1px neutral9, 6px 6px 0 1px neutral9, 7px 7px 0 1px neutral9, 8px 8px 0 1px neutral9, 9px 9px 0 1px neutral9, 10px 10px 0 1px neutral9