/* Colour library */

neutral1 = #fff
neutral2 = #1c1c1c
neutral3 = #333
neutral4 = #444
neutral5 = #555
neutral6 = #777
neutral7 = #e0e0e0
neutral8 = #999
neutral9 = #ccc
neutral10 = #808080

accent = #b70000
accentdark = #820001
accentpositive = #0D8500

transition(t)
	-webkit-transition: all t ease;
	-moz-transition: all t ease;
	-ms-transition: all t ease;
	-o-transition: all t ease;
	transition: all t ease;