.team
	border-bottom neutral6 1px solid
	border-top neutral6 1px solid

	h2
		font-size 40px
		line-height 50px
		margin-top 15px
		margin-bottom 15px
		padding-bottom 0

		@media only screen and (min-width: 760px)
			font-size 50px
			line-height 75px

		.wf-active &
			abril-display-extra-bold()
			font-size 45px
			line-height 60px

			@media only screen and (min-width: 760px)
				font-size 60px
				line-height 75px

	figure
		margin-bottom 15px

		img
			display block
			width 100%
			max-width 710px
			border-top 5px solid #444
			border-bottom 5px solid #444
			margin-bottom 15px

		p
			font-size 21px
			line-height 30px
			margin-bottom 15px

			.wf-active &
				font-size 21px
				line-height 30px