.tickets
	border-bottom 1px dashed neutral9
	font-size 21px
	font-style italic
	line-height 30px
	margin 0 0 15px 0
	padding 15px 0

	.wf-active &
		abril-text-italic()
		font-size 27px
		line-height 45px

	@media only screen and (min-width: 760px)
		font-size 25px
		line-height 30px
		padding 21px 0

		.wf-active &
			font-size 29px
			line-height 45px
			padding 20px 0