/build
/node_modules
/.cache
/aws-keys.json
/source/summit/assets/videos
/source/about/summit/assets/videos
source/assets/stylus/indie-style-core
npm-debug.log
.DS_Store
/public
**.mov
**.mp4
**.ogv
**.webm
ssh-user
ssh-public-key-path
