.p-name
	margin-top 0
	
.summary, .summary a
	font-weight bold
		
.downloads
	margin-top 24px
	overflow hidden

	@media only screen and (min-width: 360px)
		margin-top 18px
		margin-left auto
		margin-right auto
		width 314px

.download-on-the-app-store, .download-on-mac-app-store
	display block
	margin-top 12px
	margin-right auto
	margin-left auto
	margin-bottom 24px
	
	@media only screen and (min-width: 360px)
		float left
		margin-right 0
		margin-left 0
		
	@media only screen and (min-width: 520px)
		margin-top 18px
		margin-bottom 18px
		
	.download-on-the-app-store, .download-on-mac-app-store
		margin-top 30px
		margin-bottom 24px

.download-on-the-app-store, .download-on-the-app-store img
	height 40px
	width 134px

.download-on-mac-app-store, .download-on-mac-app-store img
	height 40px
	width 165px

.download-on-the-app-store
	@media only screen and (min-width: 360px)
		margin-right 12px

@media only screen and (max-width: 480px)
	.downloads .download-on-mac-app-store
		margin-bottom 12px

.download-on-the-app-store img, .download-on-mac-app-store img
	margin-top 0