.talks blockquote
	font-size 20px
	font-style italic
	line-height OneLineHeight
	margin-top HalfLineHeight
	margin-bottom HalfLineHeight
	padding-top HalfLineHeight
	padding-bottom HalfLineHeight

	@media only screen and (min-width: 600px)
		margin-top OneLineHeight
		margin-bottom OneLineHeight
		padding-right HalfLineHeight
		padding-left HalfLineHeight

	@media only screen and (min-width: 820px)
		font-size 21px
		line-height OneAndAQuarterLineHeights
		padding-top OneLineHeight
		padding-bottom OneLineHeight

.talks blockquote p
	margin-bottom 0