.e-content
	img
		margin 0 auto
		margin-bottom OneLineHeight // because responsive pixels smushes this up if I include it in the rule above
	
	blockquote
		font-size 21px
		line-height OneAndAQuarterLineHeights
		
		p
			margin-bottom 0
			
	.multi-paragraph
		text-align left
		
		p
			margin-bottom OneLineHeight
		
		p:nth-last-of-type(1)
			margin-bottom 0