.main
	margin-top TwoLineHeights

	.long-title
		@media only screen and (min-width: 480px)
			font-size 52px
			line-height TwoLineHeights

		@media only screen and (min-width: 820px)
			font-size 70px
			line-height ThreeLineHeights

.i-am-indie
	margin-bottom TwoLineHeights

.are-you-indie
	text-align center