.main
	padding-top OneLineHeight
		
.about-heartbeat
	margin-top 0
	
	.icon
		margin-left auto
		margin-right auto
		margin-bottom HalfLineHeight
		width 100px
		height 100px
		
		@media only screen and (min-width: 780px)
			margin-bottom OneLineHeight
	
	h2
		text-align center
		
		@media only screen and (min-width: 780px)
			border-top 7px solid black-twenty
			padding-top HalfLineHeight

.callouts
	clear both
	font-size 15px
	line-height 23px
	list-style-type none
	overflow hidden
	padding HalfLineHeight 0
	margin HalfLineHeight 0
	
	h2
		font-size 21px
		line-height OneLineHeight
		margin-top HalfLineHeight
		margin-bottom QuarterLineHeight

		@media only screen and (min-width: 820px)
			font-size 21px
			line-height OneLineHeight
			margin-bottom QuarterLineHeight
	
	h3
		font-size 18px
		line-height OneLineHeight
		margin-top HalfLineHeight
		margin-bottom QuarterLineHeight
		
		@media only screen and (min-width: 820px)
			line-height 22px
			margin-bottom QuarterLineHeight
		
		a
			font-weight bold
			
.callout
	border-bottom 1px solid black-thirty
	padding-bottom HalfLineHeight
	
	@media only screen and (min-width: 780px)
		border-bottom none
		float left
		width 29.3%

// HEARTBEAT callouts
.private
	@media only screen and (min-width: 780px)
		padding-right OneLineHeight
		
.social
	@media only screen and (min-width: 780px)
		padding-right HalfLineHeight
		padding-left HalfLineHeight

.web
	@media only screen and (min-width: 780px)
		padding-left OneLineHeight
		
.social .icon
	margin-bottom -12px
	
	@media only screen and (min-width: 780px)
		margin-bottom OneLineHeight