.heartbeat-logo
	background url('/assets/images/heartbeat-logo.png') top center no-repeat
	line-height FourLineHeights
	margin-top TwoAndAHalfLineHeights
	margin-bottom HalfLineHeight
	padding-top 120px

	.svg &
		background url('/assets/images/heartbeat-logo.svg') top center no-repeat

	@media only screen and (min-width: 780px)
		background url('/assets/images/heartbeat-logo-large.png') top center no-repeat
		margin-bottom OneLineHeight
		padding-top 270px

		.svg &
			background url('/assets/images/heartbeat-logo-large.svg') top center no-repeat

.long-road-to-freedom
	display block
	margin-left auto
	margin-right auto
	margin-top 56px
	width 107px /* compresses 2x image to 1x width */