.past-events
	color black-seventy
	margin-top ThreeLineHeights
	margin-bottom OneAndAHalfLineHeights

.past-posts
	color black-sixty

	time
		background-color black-sixty

	.event-link
		background-color black-ten
		color black-sixty

		&:hover, &:active, &:focus
			background-color black-sixty
			color white