.article
	h1
		font-size 36px
		line-height OneAndAHalfLineHeights

		@media only screen and (min-width: 480px)
			font-size 48px
			line-height TwoLineHeights

		@media only screen and (min-width: 620px)
			font-size 56px
			line-height TwoAndAHalfLineHeights

	h2
		font-size 32px
		font-weight bold
		line-height OneAndThreeQuartersLineHeights

	h3
		font-size 26px
		line-height OneAndAHalfLineHeights
		margin-top OneAndAHalfLineHeights
		margin-bottom OneLineHeight

	h4
		font-size 21px
		line-height ThreeQuartersLineHeight

	.notification--subtle
		padding HalfLineHeight

		h2, h3
			font-size 19px
			line-height OneAndAQuarterLineHeights
			margin-top 0
			margin-bottom 0

			@media only screen and (min-width: 820px)
				font-size 20px

	.year
		text-align center

	.signature
		width 132px

	.e-content
		h2
			margin-top OneAndAHalfLineHeights
			margin-bottom ThreeQuartersLineHeight

	.post-date
		margin-top -28px /* -OneLineHeight */

.dates-list
	li
		list-style-type none

	h2, h3, p
		text-align center

	p
		margin-bottom QuarterLineHeight

.post-link, .event-link
	text-decoration none
	color black-eighty
	background-color black-twenty
	border-radius 6px
	padding 4px 10px

.post-link:hover,
.post-link:active,
.event-link:hover,
.event-link:active
	color white
	background-color black-eighty

.posts-list
	margin-left 0

	.p-name
		display inline
		font-size 18px
		font-family "Avenir Next", Avenir, 'Helvetica Neue', Helvetica, sans-serif
		line-height OneAndAHalfLineHeights
		margin-top 0
		margin-bottom 0
		text-align left

		@media only screen and (min-width: 620px)
			display block
			float left

	li
		list-style-type none
		line-height OneAndAHalfLineHeights
		margin-bottom OneLineHeight
		overflow hidden

		@media only screen and (min-width: 620px)
			padding-left 125px

	time, .date-range
		background-color black-eighty
		clear both
		color white
		border-radius 4px
		display inline-block
		font-size 14px
		font-style normal
		line-height 23px
		margin-top 10px
		margin-bottom 5px
		padding 0 10px
		position relative

		@media only screen and (min-width: 620px)
			display block
			float left
			margin-left -125px

.p-summary
	clear both
	display block
	font-size 16px
	line-height OneLineHeight
	margin-bottom 0
	padding-left 10px

.post-date
	font-style italic
	margin-bottom OneAndAHalfLineHeights
	text-align center

.linux-voice .e-content .scan
	float left
	margin-top 0
	margin-bottom HalfLineHeight
	max-width 50%

.links-list
	margin-left 0

	li
		list-style-type none
		margin-bottom OneLineHeight

	.link-title
		margin-bottom HalfLineHeight
