.article
	h1
		font-size 36px
		line-height OneAndAHalfLineHeights

		@media only screen and (min-width: 480px)
			font-size 48px
			line-height TwoLineHeights

		@media only screen and (min-width: 620px)
			font-size 56px
			line-height TwoAndAHalfLineHeights

	h2
		font-size 32px
		font-weight bold
		line-height OneAndThreeQuartersLineHeights

	h3
		font-size 26px
		line-height OneAndAHalfLineHeights
		margin-top OneAndAHalfLineHeights
		margin-bottom OneLineHeight

	h4
		font-size 21px
		line-height ThreeQuartersLineHeight

	.notification--subtle
		padding HalfLineHeight

		h2, h3
			font-size 19px
			line-height OneAndAQuarterLineHeights
			margin-top 0
			margin-bottom 0

			@media only screen and (min-width: 820px)
				font-size 20px

	.year
		text-align center

	.signature
		width 132px

	.e-content
		h2
			margin-top OneAndAHalfLineHeights
			margin-bottom ThreeQuartersLineHeight

	.post-date
		margin-top -28px /* -OneLineHeight */

.dates-list
	li
		list-style-type none

.posts-list
	margin-left 0

	.p-name
		margin-top HalfLineHeight
		margin-bottom HalfLineHeight

		@media only screen and (min-width: 820px)
			margin-top 0
			float left
			line-height OneAndAHalfLineHeights
			margin-left 20px
			width 470px

		a
			font-size 32px
			font-weight bold
			text-decoration none

	li
		list-style-type none
		margin-bottom TwoLineHeights
		overflow hidden

	time, .date-range
		color black-ninety
		font-size 19px

		@media only screen and (min-width: 820px)
			float left
			line-height OneAndAHalfLineHeights
			margin-top 4px
			text-align right
			width 210px

.p-summary
	clear both
	display block
	font-size 16px
	line-height OneLineHeight
	margin-bottom 0

	@media only screen and (min-width: 820px)
		float left
		margin-left 230px
		width 470px

.post-date
	font-style italic
	margin-bottom OneAndAHalfLineHeights
	text-align center

.linux-voice .e-content .scan
	float left
	margin-top 0
	margin-bottom HalfLineHeight
	max-width 50%

.links-list
	margin-left 0

	li
		list-style-type none
		margin-bottom OneLineHeight

	.link-title
		margin-bottom HalfLineHeight
