@import url("http//fast.fonts.net/t/1.css?apiType=css&projectid=986545d8-1dff-4054-b684-41cdf2969331")

/* Avenir Next Regular Italic */
@font-face
  font-family 'Avenir Next'
  src url('/assets/fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.eot') /* IE9 Compat Modes */
  src url('/assets/fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf')  format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.svg#50bf45da23916fff74191055c668454a') format('svg') /* Legacy iOS */
  font-style italic
  font-weight normal

/* Avenir Next Regular */
@font-face
  font-family 'Avenir Next'
  src url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.eot') /* IE9 Compat Modes */
  src url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf')  format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.svg#7bfe883defbe1d3309c04184e27631b8') format('svg') /* Legacy iOS */
  font-style normal
  font-weight normal

/* Avenir Next Ultra Light */
@font-face
  font-family 'Avenir Next Ultra Light'
  src url('/assets/fonts/6de0ce4d-9278-467b-b96f-c1f5f0a4c375.eot') /* IE9 Compat Modes */
  src url('/assets/fonts/6de0ce4d-9278-467b-b96f-c1f5f0a4c375.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/6de0ce4d-9278-467b-b96f-c1f5f0a4c375.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/6de0ce4d-9278-467b-b96f-c1f5f0a4c375.ttf')  format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/6de0ce4d-9278-467b-b96f-c1f5f0a4c375.svg#d5a3911d2abd863172a8ebf41f355546') format('svg') /* Legacy iOS */
  font-style normal
  font-weight normal

/* (Prevent faux bold) When Avenir Next Ultra Light is bold, Using Avenir Next Regular */
@font-face
  font-family 'Avenir Next Ultra Light'
  src url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.eot') /* IE9 Compat Modes */
  src url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf')  format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.svg#7bfe883defbe1d3309c04184e27631b8') format('svg') /* Legacy iOS */
  font-style normal
  font-weight bold

/* Avenir Next Demi */
@font-face
  font-family 'Avenir Next'
  src url('/assets/fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.eot') /* IE9 Compat Modes */
  src url('/assets/fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf')  format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.svg#a3e7f2634fe87594857147c6b0373e44') format('svg') /* Legacy iOS */
  font-style normal
  font-weight bold

/* Avenir Next Demi Italic */
@font-face
  font-family 'Avenir Next'
  src url('/assets/fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.eot') /* IE9 Compat Modes */
  src url('/assets/fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf')  format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.svg#f3a1ad10215e4fcb325281794c6955ee') format('svg') /* Legacy iOS */
  font-style italic
  font-weight bold

/* Avenir Next Bold */
@font-face
  font-family 'Avenir Next Bold'
  src url('/assets/fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.eot') /* IE9 Compat Modes */
  src url('/assets/fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf')  format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.svg#c504fc38cb5f95447188a069233f91ea') format('svg') /* Legacy iOS */
  font-style normal
  font-weight bold