.site-footer
	background black-ten
	clear both
	margin-top TwoLineHeights
	padding-top HalfLineHeight

	.footer-wrap
		padding HalfLineHeight
		
		@media only screen and (min-width 600px)
			margin-right auto
			margin-left auto
			max-width 700px
			padding-right OneAndAHalfLineHeights
			padding-left OneAndAHalfLineHeights
			padding-top 0
		
	.copyright
		display block
		font-size 14px
		margin-top OneAndAHalfLineHeights
		padding-top HalfLineHeight
		padding-bottom HalfLineHeight
		text-align center
		
		@media only screen and (min-width 600px)
			margin-top OneLineHeight
			padding-top 0
		
		a
			color black-sixty
		
		abbr
			border none

		.view-source
			color black-eighty
			

.ethical-design-badge
	display block
	width 250px
	margin-left auto
	margin-right auto
	
	img
		margin-left auto
		margin-right auto
		margin-bottom 0
	
	p
		text-align center