.site-footer
	background black-ten
	clear both
	margin-top TwoLineHeights

	.footer-wrap
		padding HalfLineHeight
		
		@media only screen and (min-width 600px)
			margin-right auto
			margin-left auto
			max-width 700px
			padding-right OneAndAHalfLineHeights
			padding-left OneAndAHalfLineHeights
			padding-top 0
	
	.copyright
		border-top 1px solid black-twenty
		clear both
		display block
		margin-top OneAndAHalfLineHeights
		padding-top HalfLineHeight
		text-align justify
		
		a
			color black-sixty
		
		abbr
			border none

	.view-source-wrap
		border-top 1px solid black-twenty
		margin-top 15px
		margin-bottom 30px
		padding 30px 20px

	.view-source
		background black-sixty
		border none
		border-box()
		border-radius 5px
		color white
		display block
		font-size 18px
		line-height OneAndAHalfLineHeights
		margin HalfLineHeight auto HalfLineHeight auto
		padding 0 ThreeQuartersLineHeight
		text-align center
		text-decoration none
		transition(.3s)
		width 150px

		&:hover, &:active, &:focus
			background black-eighty

.ethical-design-badge
	display block
	width 250px
	margin-left auto
	margin-right auto
	
	@media only screen and (min-width: 600px)
		float left
		width 60%
	
	img
		margin-left auto
		margin-right auto
		margin-bottom 0
	
	p
		text-align center

.site-name
	margin-top HalfLineHeight
	margin-bottom HalfLineHeight
	width 100%
	
	@media only screen and (min-width: 600px)
		float left
		margin-top OneLineHeight
		margin-bottom OneLineHeight
		width 60%

	a
		background url('/assets/images/indie-balloon-logo.svg') no-repeat center center
		border-bottom none
		display block
		height 0
		margin-right auto
		margin-left auto
		margin-bottom 0
		overflow hidden
		padding-top 130px /* height of logo */
		padding-left 100% /* ensure width of logo doesn't overflow width of container */
		width 0

		.no-svg &
			background-image url('/assets/images/indie-balloon-logo.png')

		@media only screen and (min-width: 385px)
			background-size 300px 130px /* width and height of logo */
			padding-left 300px /* width of logo */