.fund-us
	border-top 1px solid black-twenty
	border-bottom 1px solid black-twenty
	overflow hidden
	
	h2
		font-size 26px
		line-height 35px
		margin-top OneLineHeight
		
	p
		@media only screen and (min-width: 580px)
			float left
			margin-bottom OneLineHeight
			max-width 70%

	.button
		float right
		margin-top 0
		margin-bottom OneLineHeight
		padding-right OneAndAHalfLineHeights
		padding-left OneAndAHalfLineHeights