.home
	.intro
		font-size 42px
		line-height TwoLineHeights
		
		a
			text-decoration none
			
			.text /* fix standard link underline with 1px bottom border offset to smaller lineheight with text using white shadows to cut through line */
				border-bottom 1px solid black-seventy
				display inline
				text-shadow 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 2px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white
		
	.main
		p
			text-align center

	.site-footer
		@media only screen and (min-width: 500px)
			margin-top FiveLineHeights

.heartbeat
	background url('/assets/images/heartbeat-hot-air-balloon.png') top center no-repeat
	background-size 320px
	line-height FourLineHeights
	margin-top TwoLineHeights
	margin-bottom HalfLineHeight
	padding-top 320px

	@media only screen and (min-width: 460px)
		background-size 460px
		padding-top 460px

	@media only screen and (min-width: 780px)
		margin-top FourLineHeights
		margin-bottom OneLineHeight
		padding-top 480px