.home
	.main
		padding-top OneLineHeight

	.site-footer
		@media only screen and (min-width: 500px)
			margin-top TwoLineHeights
			
.coming-soon
	background url('../../../better/images/better.svg') top center no-repeat
	color black-eighty
	font-family "Avenir Next", Avenir, 'Helvetica Neue', Helvetica, sans-serif
	font-size 30px
	font-weight bold
	line-height OneAndAHalfLineHeights
	margin-top OneAndAHalfLineHeights
	margin-bottom HalfLineHeight
	padding-top 212px

	@media only screen and (min-width: 820px)
		font-size 36px
		line-height TwoLineHeights
		margin-bottom ThreeQuartersLineHeight

.better-web
	font-size 24px
	font-weight bold
	line-height OneLineHeight
	margin-top OneLineHeight
	margin-bottom HalfLineHeight
	text-align center
	
	em
		font-style italic
		font-weight bold

	@media only screen and (min-width: 820px)
		font-size 30px
		line-height OneAndAHalfLineHeights
		margin-bottom ThreeQuartersLineHeight

.callouts
	clear both
	font-size 15px
	line-height 23px
	list-style-type none
	overflow hidden
	padding HalfLineHeight 0
	margin HalfLineHeight 0 0 0
	
	h2
		font-size 21px
		line-height OneLineHeight
		margin-top HalfLineHeight
		margin-bottom QuarterLineHeight

		@media only screen and (min-width: 820px)
			font-size 21px
			line-height OneLineHeight
			margin-bottom QuarterLineHeight
	
	h3
		font-size 18px
		line-height OneLineHeight
		margin-top HalfLineHeight
		margin-bottom QuarterLineHeight
		
		@media only screen and (min-width: 820px)
			line-height 22px
			margin-bottom QuarterLineHeight
		
		a
			font-weight bold
		
.callout
	border-bottom 1px solid black-thirty
	padding-bottom HalfLineHeight
	
	@media only screen and (min-width: 780px)
		border-bottom none
		float left
		width 29.3%
		
// HOMEPAGE FOOTER callouts	
.support
	@media only screen and (min-width: 780px)
		padding-right HalfLineHeight
		width 28.4%
		
.featured
	@media only screen and (min-width: 780px)
		padding-right HalfLineHeight
		padding-left HalfLineHeight
		width 35%

.news
	@media only screen and (min-width: 780px)
		padding-left HalfLineHeight
		width 28.4%

.illustration
	display block
	margin-right auto
	margin-left auto
	
.illustration-person
	width 107px
	margin-top HalfLineHeight
	margin-bottom 0
	height 66px

.illustration-people
	width 132px
	height 148px