.home
	.intro
		font-family "Avenir Next", Avenir, 'Helvetica Neue', Helvetica, sans-serif
		font-size 36px
		font-weight bold
		line-height OneAndAHalfLineHeights
		padding-bottom 0
		text-align center
		
		@media only screen and (min-width: 500px)
			font-size 42px
			line-height TwoLineHeights
			padding-bottom OneLineHeight
		
		a
			color black-seventy
			font-weight bold

	.site-footer
		@media only screen and (min-width: 500px)
			margin-top TwoLineHeights

.heartbeat
	position relative
	
	@media only screen and (min-width: 780px)
		border-top 1px solid black-thirty

	.before-icon
		@media only screen and (min-width: 780px)
			float left
			margin-bottom HalfLineHeight
			width 255px
			
	.after-icon
		@media only screen and (min-width: 780px)
			float right
			margin-top OneAndThreeQuartersLineHeights
			margin-bottom OneAndAHalfLineHeights
			text-align right
			width 255px
			
			p
				margin-bottom HalfLineHeight

.heartbeat-icon
	display block
	margin-top 0
	width 100%
	
	@media only screen and (min-width: 380px)
		margin HalfLineHeight auto
		margin-top -35px
		max-width 360px
		
	@media only screen and (min-width: 780px)
		margin-left 210px
		max-width 270px
		position absolute

.callouts
	border-top 2px solid black-fifty
	clear both
	font-size 15px
	line-height 23px
	list-style-type none
	overflow hidden
	padding HalfLineHeight 0
	margin HalfLineHeight 0
	
	h2
		font-size 21px
		line-height OneAndAHalfLineHeights
		margin-top HalfLineHeight
		margin-bottom QuarterLineHeight

		@media only screen and (min-width: 820px)
			font-size 21px
			line-height OneAndAHalfLineHeights
			margin-bottom QuarterLineHeight
	
	h3
		font-size 18px
		line-height OneLineHeight
		margin-top HalfLineHeight
		margin-bottom QuarterLineHeight
		
		@media only screen and (min-width: 820px)
			line-height 22px
			margin-bottom QuarterLineHeight
		
		a
			font-weight bold
			
	.p-name, .topic
		font-size 16px
		margin-top 0
		margin-bottom QuarterLineHeight
	
	.dt-published, .hot-topic
		display block
		font-size 15px
		line-height 22px
		margin-bottom QuarterLineHeight
			
.callout
	border-bottom 1px solid black-thirty
	padding-bottom HalfLineHeight
	
	@media only screen and (min-width: 780px)
		border-bottom none
		float left
		width 29.3%
		
.support
	@media only screen and (min-width: 780px)
		padding-right OneLineHeight
	
.news
	@media only screen and (min-width: 780px)
		padding-right HalfLineHeight
		padding-left HalfLineHeight
	
.featured
	@media only screen and (min-width: 780px)
		padding-left OneLineHeight

.callout-link
	display block