.site-navigation
	background black-eighty
	border-bottom 5px solid black-thirty

	.site-navigation--list
		margin 0
		overflow hidden
		padding 0
		/* flex box to centre children */
		display -webkit-flex
		display -moz-flex
		display flex
		-webkit-flex-flow row wrap
		-moz-flex-flow row wrap
		flex-flow row wrap
		-webkit-justify-content center
		-moz-justify-content center
		justify-content center

	li
		float left
		list-style-type none
		margin-bottom 0

		a
			color white
			display block
			float left
			font-size 16px
			padding QuarterLineHeight 10px
			text-decoration none
			background-transition(.3s)

			@media only screen and (min-width: 400px)
				padding QuarterLineHeight HalfLineHeight

			&:hover, &:active, &:focus
				background black-seventy
				border-bottom none
				padding QuarterLineHeight 10px

				@media only screen and (min-width: 400px)
					padding QuarterLineHeight HalfLineHeight

		/* don't have gap between balloon link and about link, fill the space with button padding because it looks less odd */
		&.about-link a
			padding-left 15px

			@media only screen and (min-width: 400px)
				padding-left 20px

		&.home-link
			padding 0

			a /* balloon logo for home link */
				background-image url('/assets/images/sprite.png')
				background-position 1px -36px
				background-repeat no-repeat
				height 0
				overflow hidden
				/* write padding rules out to account for responsive pixels issues */
				padding 0
				padding-top 42px
				padding-left 50px
				width 0

				.svg &
					background-image url('/assets/images/sprite.svg')

				&:hover, &:active, &:focus
					background-color background black-seventy
					background-image url('/assets/images/sprite.png')
					background-position 1px -36px
					border-bottom none
					color black-ten
					/* write padding rules out to account for responsive pixels issues */
					padding 0
					padding-top 42px
					padding-left 50px

					.svg &
						background-image url('/assets/images/sprite.svg')

				@media only screen and (min-width: 600px)
					/* write padding rules out to account for responsive pixels issues */
					padding 0
					padding-top 42px
					padding-left 50px

/* Black string balloon logo for active home navigation link */
.home .site-navigation .home-link a
	background-color black-thirty
	background-position 3px -77px
	border-bottom none
	color white
	/* write padding rules out to account for responsive pixels issues */
	padding 0
	padding-top 42px
	padding-left 50px

	&:hover, &:active, &:focus
		background-position 3px -77px

	@media only screen and (min-width: 600px)
		background-position 12px -77px
		color black-ninety
		/* write padding rules out to account for responsive pixels issues */
		padding 0
		padding-top 42px
		padding-left 70px

		&:hover, &:active, &:focus
			background-position 12px -77px
			/* write padding rules out to account for responsive pixels issues */
			padding 0
			padding-top 42px
			padding-left 70px

/* Active navigation styles */
.blog .site-navigation .blog-link,
.events .site-navigation .blog-link,
.summit .site-navigation .summit-link,
.summit-videos .site-navigation .summit-link,
.summit-video .site-navigation .summit-link,
.declaration .site-navigation .about-link,
.manifesto .site-navigation .about-link,
.team .site-navigation .about-link,
.privacy .site-navigation .about-link,
.vision .site-navigation .about-link,
.press .site-navigation .about-link,
.contact .site-navigation .about-link
	a
		background black-seventy
		padding QuarterLineHeight HalfLineHeight

/* don't have gap between balloon link and about link, fill the space with button padding because it looks less odd */
.declaration .site-navigation .home-link,
.manifesto .site-navigation .home-link,
.team .site-navigation .home-link,
.privacy .site-navigation .home-link,
.vision .site-navigation .home-link,
.press .site-navigation .home-link,
.contact .site-navigation .home-link
	a
		background-position 10px -36px
		padding-left 50px

		&:hover, &:active, &:focus
			background-position 10px -36px

		@media only screen and (min-width: 400px)
			background-position 10px -36px
			padding-left 70px

			&:hover, &:active, &:focus
				background-position 10px -36px
				padding-left 70px