.site-navigation
	background black-eighty
	border-bottom 5px solid black-thirty

	.site-navigation--list
		margin 0
		overflow hidden
		padding 0
		/* flex box to centre children */
		display -webkit-flex
		display -moz-flex
		display flex
		-webkit-flex-flow row wrap
		-moz-flex-flow row wrap
		flex-flow row wrap
		-webkit-justify-content center
		-moz-justify-content center
		justify-content center

	li
		float left
		list-style-type none
		margin-bottom 0

		a
			color white
			display block
			float left
			font-size 16px
			padding QuarterLineHeight 10px
			text-decoration none
			background-transition(.3s)

			@media only screen and (min-width: 710px)
				padding QuarterLineHeight 20px

			&:hover, &:active, &:focus
				background black-seventy
				border-bottom none

		/* don't have gap between balloon link and about link, fill the space with button padding because it looks less odd */
		&.about-link a
			padding-left HalfLineHeight

			@media only screen and (min-width: 710px)
				padding-left 30px

			&:hover, &:active, &:focus
				margin-left 5px
				padding-left 10px

				@media only screen and (min-width: 710px)
					margin-left 10px
					padding-left 20px

		&.home-link
			padding 0

			a /* balloon logo for home link */
				background-image url('/assets/images/sprite.svg')
				background-position 1px -36px
				background-repeat no-repeat
				height 0
				overflow hidden
				padding 42px 0 0 55px
				width 0
				-moz-transition none
				-ms-transition none
				-o-transition none
				transition none

				.no-svg &
					background-image url('/assets/images/sprite.png')

				&:hover, &:active, &:focus
					background-color background black-seventy
					background-position 1px -36px
					color black-ten
					padding 42px 0 0 55px

				@media only screen and (min-width: 710px)
					background-position 10px -36px
					padding 42px 0 0 70px

					&:hover, &:active, &:focus
						background-position 10px -36px
						padding 42px 0 0 70px

/* Black string balloon logo for active home navigation link */
.home .site-navigation .home-link a
	background-color black-thirty
	background-position 3px -77px
	color white

	&:hover, &:active, &:focus
		background-position 3px -77px

	@media only screen and (min-width: 710px)
		background-position 12px -77px
		color black-ninety

		&:hover, &:active, &:focus
			background-position 12px -77px

/* Active navigation styles */
.fund .site-navigation .fund-link,
.blog .site-navigation .blog-link,
.events .site-navigation .blog-link,
.summit .site-navigation .summit-link,
.summit-videos .site-navigation .summit-link,
.summit-video .site-navigation .summit-link,
.labs .site-navigation .labs-link,
.about .site-navigation .about-link,
.declaration .site-navigation .about-link,
.manifesto .site-navigation .about-link,
.team .site-navigation .about-link,
.privacy .site-navigation .about-link,
.vision .site-navigation .about-link,
.press .site-navigation .about-link,
.contact .site-navigation .about-link,
.consulting .site-navigation .consulting-link,
.talks .site-navigation .talks-link
	a
		background black-thirty
		color black-ninety

/* Add gap to left of active about navigation so there's space between link and balloon */
.about .site-navigation .about-link,
.declaration .site-navigation .about-link,
.manifesto .site-navigation .about-link,
.team .site-navigation .about-link,
.privacy .site-navigation .about-link,
.vision .site-navigation .about-link,
.press .site-navigation .about-link,
.contact .site-navigation .about-link,
.talks .site-navigation .about-link,
.consulting .site-navigation .about-link
	a, a:hover, a:active, a:focus
		margin-left 5px
		padding-left 10px

		@media only screen and (min-width: 710px)
			margin-left 10px
			padding-left 20px