.email-subscribe
	border-top 2px solid black-eighty
	margin-top 60px
	overflow hidden

	h2
		font-family "Avenir Next", Avenir, 'Helvetica Neue', Helvetica, sans-serif
		font-size 26px
		line-height 35px
		text-align center

	.note
		margin 0 auto
		max-width 510px

	.button
		display block
		margin 0 auto
		max-width 150px

.signup--title, h2.signup--title, .thunderclap .signup--title
	font-size 28px
	line-height OneAndAHalfLineHeights
	margin-top TwoLineHeights
	margin-bottom HalfLineHeight
	text-align center

	@media only screen and (min-width: 820px)
		line-height TwoLineHeights
		margin-bottom 0

.crowdfunding--intro
	font-size 19px
	font-weight bold
	line-height OneLineHeight
	text-align center

	@media only screen and (min-width: 820px)
		line-height OneAndAHalfLineHeights
