// Import the indie style core and partials for third-level pages.

// As this is included from /some-section/stylus/style.styl
$font-path = '../../../../assets/stylus/indie-style-core/fonts/'
$image-path = '../../../../assets/stylus/indie-style-core/images/'

@import 'indie-style-core/_core'

@import _footer
@import _funding
@import _layout
@import _funding
@import _navigation
@import _newsletter-signup
@import _sub-navigation
