.sub-navigation--list
	margin 0
	margin-top 11px
	overflow hidden
	padding 0
	/* flex box to centre children */
	display -webkit-flex
	display -moz-flex
	display flex
	-webkit-flex-flow row wrap
	-moz-flex-flow row wrap
	flex-flow row wrap
	-webkit-justify-content center
	-moz-justify-content center
	justify-content center

	@media only screen and (min-width: 600px)
		margin-top 0

	li
		float left
		list-style-type none
		margin-bottom 0
		padding 0 13px 7px 13px

		a
			border-bottom 1px solid black-ninety
			color black-ninety
			display block
			float left
			font-size 16px
			line-height ThreeQuartersLineHeight
			padding 18px 1px 1px 1px
			text-decoration none
			transition(.3s)

			&:hover, &:active, &:focus
				border-color black
				color black

.blog .sub-navigation .news-link a,
.events .sub-navigation .events-link a
	background black-twenty
	border-bottom none
	border-radius QuarterLineHeight
	display inline-block
	margin-top 11px
	padding QuarterLineHeight HalfLineHeight
	transition-none()

	@media only screen and (min-width: 770px)
		background url('/assets/images/sprite.png') no-repeat top center
		border-bottom 1px solid black-ninety
		border-radius 0
		display block
		margin-top 0
		padding 18px 1px 1px 1px

		.svg &
			background-image url('/assets/images/sprite.svg')

/* As summit navigation shows below more sub-navgation, make it use styles without the arrow */
.summit .summit-navigation .summit-link a,
.summit-videos .summit-navigation .videos-link a,
.summit-video .summit-navigation .videos-link a
	background black-twenty
	border-bottom none
	border-radius QuarterLineHeight
	display inline-block
	margin-top 11px
	padding QuarterLineHeight HalfLineHeight