.tweets // tweet list
	margin-top OneLineHeight
	margin-right auto
	margin-left auto
	max-width 500px

.twitter-tweet // tweet without the Twitter brand styling
	border-bottom 0
	border-top-width 1px
	color black-sixty
	font-size 18px
	line-height OneLineHeight
	padding-top OneLineHeight
	padding-bottom OneLineHeight

	a
		color black-sixty
		text-decoration none

	p
		color black-seventy
		font-size 19px
		font-style normal

		a
			color black-eighty

.twitter-tweet-rendered // tweet with the Twitter brand styling
	margin-bottom OneLineHeight !important