/* Stylesheet for other projects, that need the Indie style core, and other styles as on the the site */
/* Can be referenced from https://ind.ie/assets/css/general-styles.css */

/* This is where we pull in all our stylus partials to compile a full stylesheet */

/* The core must go first, as it has the CSS reset and other base rules */

/* Tell the core where to find its images and fonts */
$font-path = 'http://labs.ind.ie/fonts/'
$image-path = '/assets/stylus/indie-style-core/images/'

/* Tell the core where to find itself (absolute path) */
@import 'indie-style-core/_core'

@import _navigation
@import _footer