/* This is where we pull in all our stylus partials to compile a full stylesheet */

/* The core must go first, as it has the CSS reset and other base rules */

/* Tell the core where to find its images and fonts */
$font-path = '/assets/stylus/indie-style-core/fonts/'
$image-path = '/assets/stylus/indie-style-core/images/'

/* Tell the core where to find itself (absolute path) */
@import 'indie-style-core/_core'

@import _footer
@import _home
@import _layout
@import _navigation
@import _newsletter-signup