.press
	.intro
		margin-bottom OneLineHeight
		text-align center

.news-callout
	background-color black-ten
	border-radius OneLineHeight
	margin-right -14px /* -HalfLineHeight */
	margin-left -14px /* -HalfLineHeight */
	margin-bottom TwoLineHeights !important
	padding OneLineHeight

	@media only screen and (min-width: 450px)
		margin-right 0
		margin-left 0

	img
		display block
		margin-left auto
		margin-right auto
		margin-bottom HalfLineHeight
		max-width 100%

		@media only screen and (min-width: 450px)
			max-width 340px

	h3
		margin-bottom OneLineHeight
		text-align center

	p:last-child
		margin-bottom 0

#the-net-awards
	h3
		@media only screen and (min-width: 450px)
			text-align left

#the-net-awards-ribbon
	margin-left auto
	margin-right auto
	text-align left

	@media only screen and (min-width: 450px)
		display block
		float left
		height 173px
		margin-bottom ThreeQuartersLineHeight
		margin-right OneLineHeight
		width 139px

.end-link
	text-align center