.past-events
	color black-seventy

	@media only screen and (min-width: 620px)
		margin-top ThreeLineHeights
		margin-left 230px
		margin-bottom OneAndAHalfLineHeights

.past-posts
	color black-sixty

	time
		color black-sixty

	.p-name a
		color black-fifty

	.p-summary
		color black-seventy