.p-name
	margin-top 0
	
.summary, .summary a
	font-weight bold
		
.e-content
	img
		border 1px solid black-ten
		display block
		margin-top 0
		margin-right auto
		margin-left auto
		margin-bottom OneLineHeight

	figure
		margin-bottom OneAndAHalfLineHeights
		
		@media only screen and (min-width: 560px)
			margin-top OneAndAHalfLineHeights
			margin-bottom OneAndAHalfLineHeights
			
		@media only screen and (min-width: 770px)
			margin-bottom OneAndThreeQuartersLineHeights
		
	ul
		margin-bottom HalfLineHeight
		
		li
			margin-bottom HalfLineHeight
	