/* This is where we pull in all our stylus partials to compile a full stylesheet */

/* Tell the core where to find itself (absolute path) */

$font-path = '../../../../assets/stylus/indie-style-core/fonts/'

/* The core must go first, as it has the CSS reset and other base rules */
@import '../../../../assets/stylus/indie-style-core/_core'

/* apparently if you have the path for the first @import, it'll automatically find all the others */
@import '../../../../assets/stylus/_blog'
@import _footer
@import _layout
@import _navigation
@import _newsletter-signup
@import _sub-navigation
@import post