html body .site-header {
  margin-right: auto;
  margin-left: auto;
  width: 820px;
}
html body .main {
  margin-right: auto;
  margin-left: auto;
  width: 700px;
}
html body .site-navigation {
  width: 100%;
}
html body .site-navigation .home-link {
  padding: 0;
}
html body .site-navigation .home-link a {
  background-image: none;
  background-repeat: no-repeat;
  height: auto;
  overflow: hidden;
  padding: 7px 4px 0 4px;
  width: auto;
}
html body .site-navigation .home-link a:hover,
html body .site-navigation .home-link a:active,
html body .site-navigation .home-link a:focus {
  background-color: black-seventy;
  background-image: none;
  border-bottom: black-forty solid 2px;
  color: black-ten;
  padding: 7px 4px 0 4px;
}
html body.home .site-navigation .home-link a,
html body.launch .site-navigation .home-link a {
  background-color: none;
  background-image: none;
  border-bottom: black-forty solid 2px;
  color: #fff;
  padding: 7px 4px 0 4px;
}
html body .site-name a {
  padding-top: 130px;
}
