.talks blockquote
	border-top 2px solid black-eighty
	border-bottom 2px solid black-eighty
	font-size 21px
	font-style italic
	line-height OneAndAQuarterLineHeights
	margin-top OneLineHeight
	margin-bottom OneLineHeight
	padding-top HalfLineHeight
	padding-bottom HalfLineHeight
	text-align center

	@media only screen and (min-width: 600px)
		padding-right HalfLineHeight
		padding-left HalfLineHeight

	@media only screen and (min-width: 820px)
		font-size 24px
		line-height OneAndAHalfLineHeights
		padding-top OneLineHeight
		padding-bottom OneLineHeight