.netmag .e-content
	overflow hidden

.netmag .e-content .scan
	margin-top 0
	margin-bottom HalfLineHeight

	@media only screen and (min-width: 620px)
		float left
		margin-right OneLineHeight
		max-width 45%