.phoenix
	h3
		font-size 32px

	.dear-apple
		background url('../images/girl-with-cage.svg') top center no-repeat
		background-size 165px 305px
		margin-bottom OneAndAHalfLineHeights
		padding-top 350px

		@media only screen and (min-width: 820px)
			background-size 330px 610px
			font-size 73px
			line-height FourLineHeights
			margin-bottom TwoLineHeights
			padding-top 680px

		.no-svg &
			background-image url('../images/girl-with-cage.png')

	.set-swift-free
		margin-top OneLineHeight

		@media only screen and (min-width: 820px)
			margin-top OneAndAHalfLineHeights

	.introducing-phoenix
		background url('../images/phoenix-logo.svg') top center no-repeat
		background-size 100px 100px
		margin-top OneLineHeight
		margin-bottom OneLineHeight
		padding-top 120px

		@media only screen and (min-width: 820px)
			background-size 200px 200px
			margin-top TwoLineHeights
			margin-bottom TwoLineHeights
			padding-top 240px

		.no-svg &
			background-image url('../images/phoenix-logo.png')

		.button
			float none
			margin-top HalfLineHeight
			margin-right TwoLineHeights
			margin-left TwoLineHeights

			@media only screen and (min-width: 470px)
				border-radius 10px
				margin-top 0
				margin-right auto
				margin-left auto
				width 220px

/* Styles just for the announcement blog post */

.post-phoenix-announcement

	.e-content
		h2, h3
			text-align center

		h3
			font-size 32px
			line-height OneAndAHalfLineHeights

	.dear-apple
		background url('../images/girl-with-cage.svg') top center no-repeat
		background-size 165px 305px
		font-family "Avenir Next Ultra Light", "Avenir Next", Avenir, 'Helvetica Neue', Helvetica, sans-serif
		font-size 50px
		font-weight normal
		line-height TwoLineHeights
		margin-bottom TwoLineHeights
		margin-top TwoLineHeights
		padding-top 350px
		text-align center

		@media only screen and (min-width: 480px)
			font-size 60px
			line-height ThreeLineHeights

		@media only screen and (min-width: 820px)
			background-size 330px 610px
			font-size 73px
			line-height FourLineHeights
			margin-bottom TwoLineHeights
			padding-top 680px

		.no-svg &
			background-image url('../images/girl-with-cage.png')

	.set-swift-free
		color black-eighty
		font-size 30px
		font-weight bold
		line-height OneAndAHalfLineHeights
		margin-bottom HalfLineHeight
		margin-top OneAndAHalfLineHeights
		margin-top OneLineHeight

		@media only screen and (min-width: 820px)
			font-size 36px
			line-height TwoLineHeights
			margin-bottom ThreeQuartersLineHeight
			margin-top OneAndAHalfLineHeights

	.introducing-phoenix
		background url('../images/phoenix-logo.svg') top center no-repeat
		background-size 100px 100px
		margin-top OneLineHeight
		margin-bottom OneLineHeight
		padding-top 120px

		@media only screen and (min-width: 820px)
			background-size 200px 200px
			margin-top TwoLineHeights
			margin-bottom TwoLineHeights
			padding-top 240px

		.no-svg &
			background-image url('../images/phoenix-logo.png')

		.button
			float none
			margin-top HalfLineHeight
			margin-right TwoLineHeights
			margin-left TwoLineHeights

			@media only screen and (min-width: 470px)
				border-radius 10px
				margin-top 0
				margin-right auto
				margin-left auto
				width 220px