.pulse-logo
	background url('/assets/images/pulse-logo.png') top center no-repeat
	line-height FourLineHeights
	margin-top TwoAndAHalfLineHeights
	margin-bottom HalfLineHeight
	padding-top 140px

	.svg &
		background url('/assets/images/pulse-logo.svg') top center no-repeat

	@media only screen and (min-width: 780px)
		background url('/assets/images/pulse-logo-large.png') top center no-repeat
		margin-bottom 0
		padding-top 270px

		.svg &
			background url('/assets/images/pulse-logo-large.svg') top center no-repeat

.pulse
	h2, h3
		position relative

	.secure-and-private-list, .free-and-open-list, .easy-to-use-list, .easy-to-use-text, .versioning-and-updates-text
		margin-left 0

		li
			list-style-type none
			margin-left 0

	.get-started
		margin-top HalfLineHeight
		text-align center

	.freedom-in-sync
		margin-top 0
		margin-bottom OneLineHeight
		text-align center

		@media only screen and (min-width: 820px)
			margin-bottom OneAndAHalfLineHeights

	.secure-and-private, .free-and-open, .easy-to-use, .versioning-and-updates
		&:before
			background-image url('/assets/images/sprite.svg')
			background-position -9px -351px
			background-repeat no-repeat
			content ""
			display block
			float left
			height 32px
			margin-top 6px
			margin-right 0
			position relative
			width OneAndAHalfLineHeights /* same width as list item/text indentation below */

			@media only screen and (min-width: 820px)
				margin-top 12px
				margin-left -42px /* -OneAndAHalfLineHeights */

	.free-and-open:before
		background-position -7px -583px

	.easy-to-use:before
		background-position -6px -300px

	.versioning-and-updates:before
		background-position -7px -523px

	.screenshot
		clear both
		display block
		margin OneLineHeight 0

		@media only screen and (min-width: 820px)
			margin TwoLineHeights 0

.what-you-can-do
	margin-left 0
	margin-right 0
	margin-bottom 0

	@media only screen and (min-width: 620px)
		display -webkit-flex
		display flex
		-webkit-flex-flow row wrap
		flex-flow row wrap
		-webkit-justify-content center
		justify-content center

	li
		list-style-type none
		margin-bottom OneLineHeight

		@media only screen and (min-width: 620px)
			-webkit-flex 1 0 auto
			flex 1 0 auto
			float left
			margin-bottom 0
			width 50%

			h3
				margin-top 0

		a, p
			padding 0 HalfLineHeight
			text-align center

.discuss a, .docs a, .contribute a
	display block
	position relative

	&:after /* add icon */
		background-image url('/assets/images/sprite.svg')
		background-position -9px -350px
		background-repeat no-repeat
		content ""
		margin-left HalfLineHeight /* distance from text */
		padding-top 2px
		padding-right 38px /* width of icon + padding */
		padding-bottom 2px
		position relative

.discuss a:after
	background-position -3px -637px

.docs a:after
	background-position -7px -407px

.contribute a:after
	background-position -7px -465px