#trademarks
	font-size 18px
	line-height OneLineHeight
	
.indie-logo
	background url('/assets/images/indie-balloon-logo.svg') no-repeat center center
	background-size 140px 70px /* width and height of logo */
	border-bottom none
	display block
	height 0
	margin-top OneLineHeight
	margin-right auto
	margin-left auto
	margin-bottom OneAndAHalfLineHeights
	overflow hidden
	padding-top 70px /* height of logo */
	padding-left 100% /* ensure width of logo doesn't overflow width of container */
	width 0

	.no-svg &
		background-image url('/assets/images/indie-balloon-logo.png')

	@media only screen and (min-width: 480px)
		background-size 168px 84px /* width and height of logo */
		padding-top 84px /* height of logo */
		padding-left 168px /* width of logo */

	@media only screen and (min-width: 820px)
		background-size 252px 126px /* width and height of logo */
		padding-top 126px /* height of logo */
		padding-left 252px /* width of logo */