blockquote
	font-size 22px
	line-height 33px

.oskar, .universal-player, .pulse
	max-width 390px
	display block
	margin-left auto
	margin-right auto

.long-road-to-freedom
	display block
	width 107px
	margin-left auto
	margin-right auto

.quote-from
	font-size 19px