.main
	margin-top 0
	overflow hidden /* so overflowing triangle doesn't cause horizontal scroll */
	
	@media only screen and (min-width 400px)
		overflow visible
	
	@media only screen and (min-width 600px)
		margin-top TwoLineHeights
		padding-left 0
		padding-right 0
		
	// make up for lack of padding on main
		
	.manifesto-footers
		padding-left HalfLineHeight
		padding-right HalfLineHeight

		@media only screen and (min-width 600px)
			margin 0 auto
			max-width 700px
			padding-left OneAndAHalfLineHeights
			padding-right OneAndAHalfLineHeights

	.long-title
		color black-eighty
		font-family 'Avenir Next', Helvetica, sans-serif
		font-weight bold
		margin-bottom OneLineHeight
		
		@media only screen and (min-width: 780px)
			font-size 72px
			font-weight bold
			line-height 90px
	
	.subheading
		color black-seventy
		margin-top OneLineHeight
		text-align center
		
	.subheading
		font-size 36px
		line-height OneAndAHalfLineHeights
		
		@media only screen and (min-width: 580px)
			font-size 42px
			line-height OneAndAHalfLineHeights
		
.poster
	@media only screen and (min-width 600px)
		-webkit-box-shadow 0 0 3px 0 black-forty
		box-shadow 0 0 3px 0 black-forty
		padding-top QuarterLineHeight
		padding-left OneLineHeight
		padding-right OneLineHeight
		padding-bottom OneLineHeight
	

.three-rs
	margin-right auto
	margin-left auto
	overflow visible
	
	// width needs defining so it centres with auto left and right margins
	@media only screen and (min-width: 320px)
		width 250px
		
	@media only screen and (min-width: 340px)
		width 320px
		
	@media only screen and (min-width: 580px)
		width 550px
		
	@media only screen and (min-width: 780px)
		margin-top OneLineHeight
		width 415px /* centre so tip of triangle lines up with p in Respect */
	
	.three-rs-list
		background-image url('../images/triangle.svg')
		background-repeat no-repeat
		background-position 0 0
		margin-left -35px /* so middle of triangle is visible */
		padding-top 270px
		position relative
		width 320px
		
		@media only screen and (min-width: 580px)
			height 240px
			list-style-type none
			padding-top 20px
		
		.no-svg
			background-image url('../images/triangle.png')
		
		@media only screen and (min-width: 340px)
			margin-left 0
	
		@media only screen and (min-width: 580px)
			background-size 410px auto
			height 315px
			width 410px

		li // show the ordered list numbers
			font-size 15px // make the numbers not too big
			margin-top 0
			margin-bottom 0
			margin-left 70px
			
			@media only screen and (min-width: 340px)
				margin-left 70px
			
			@media only screen and (min-width: 580px)
				// when it's wider, reorder the list items to reverse order (base to top)
				margin-left 300px
				padding-top 30px
				position absolute
						
			&.three // offset by diagonal
				@media only screen and (min-width: 580px)
					height 85px
					top 0
					margin-top 21px
					margin-left 290px
					
			&.two // offset by diagonal
				@media only screen and (min-width: 580px)
					height 81px
					top 86px
					margin-top 31px
					margin-left 352px
			
			&.one
				@media only screen and (min-width: 580px)
					height 86px
					top 172px
					margin-top 44px
					margin-left 410px
			
		h3
			font-size 18px
			line-height OneLineHeight
			margin-top HalfLineHeight
			margin-bottom HalfLineHeight
			
			@media only screen and (min-width: 580px)
				height 50px
				margin-top 0
				margin-left 3px
				margin-bottom 0
				width 135px
				
		.three h3
			@media only screen and (min-width: 580px)
				width 190px // the top of the triangle can have more space for the longer title
			
		p
			font-size 15px
			line-height 19px
			margin-top 0
			margin-bottom 0
			margin-left -18px // offset the list numbers
			position absolute
			text-align center
			
			@media only screen and (min-width: 340px)
				margin-left -30px
				
			@media only screen and (min-width: 580px)
				font-size 18px
				line-height 24px
				margin-top -20px // no need to offset li padding
				position relative
			
			@media only screen and (min-width: 820px)
				font-size 18px
				line-height 24px
		
			&:before
				display block
				font-weight bold
				
				// ensure adjustments made here are also made to print styles
				@media only screen and (min-width: 580px)
					display none
					height 0
			
			&.base-tier:before
				content '1' // show the corresponding number to the Respect title
				
				// ensure adjustments made here are also made to print styles
				@media only screen and (min-width: 580px)
					content '' // don't show the number as the title is lined up alongside
			
			&.middle-tier:before
				content '2' // show the corresponding number to the Respect title
				
				// ensure adjustments made here are also made to print styles
				@media only screen and (min-width: 580px)
					content '' // don't show the number as the title is lined up alongside
				
			&.top-tier:before
				content '3' // show the corresponding number to the Respect title
				
				// ensure adjustments made here are also made to print styles
				@media only screen and (min-width: 580px)
					content '' // don't show the number as the title is lined up alongside
				
		.base-tier // one
			color black-ninety
			height 84px
			margin-left -35px // -18px offset the list numbers
			margin-right 21px
			padding-top 2px
			top 172px
			width 250px
			
			@media only screen and (min-width: 340px)
				margin-left -34px
			
			@media only screen and (min-width: 580px)
				// when it's wider, let the triangle text follow the order of the list items
				height 80px
				margin-top -68px
				margin-left -353px
				margin-right 0
				padding-top 10px
				top auto
				width 300px
			
		.middle-tier // two
			top 86px
			color black-ninety
			height 69px
			margin-left -10px // -18px offset the list numbers
			margin-right 45px
			padding-top 11px
			width 200px
			
			@media only screen and (min-width: 340px)
				margin-left -10px
				
			@media only screen and (min-width: 580px)
				// when it's wider, let the triangle text follow the order of the list items
				height 74px
				margin-top -59px
				margin-left -275px // offset li margin
				margin-right 0
				padding-top 3px
				top auto
				width 260px
			
		.top-tier // three
			top 0
			color black-ninety
			height 51px
			margin-left 40px // -18px offset the list numbers
			margin-right 95px
			padding-top 35px
			width 100px
			
			@media only screen and (min-width: 340px)
				margin-left 40px
				
			@media only screen and (min-width: 580px)
				// when it's wider, let the triangle text follow the order of the list items
				height 40px
				margin-top -29px
				margin-left -152px // offset li margin
				margin-right 0
				padding-top 1px
				top auto
				width 134px

.callouts
	clear both
	font-size 15px
	line-height 23px
	list-style-type none
	padding HalfLineHeight 0
	margin HalfLineHeight 0 0 0

.ethical-design-principles
	clear both
	margin-top OneLineHeight
	overflow hidden
	padding-bottom 0
	
		@media only screen and (min-width: 780px)
			margin-top HalfLineHeight
	
	h2
		text-align center
		
		@media only screen and (min-width: 780px)
			border-top 7px solid black-twenty
			font-size 32px
			line-height 38px
			margin-top OneLineHeight
			padding-top HalfLineHeight
			
	.callout
		list-style-type none
		margin-top OneLineHeight
		position relative
		
		.print-icon
			display none
		
		p
			font-size 15px
			line-height 21px
			hyphens auto
		
		&:before
			content ""
			display block
			height 80px
			margin-right auto
			margin-bottom 0
			margin-left auto
			position relative
			width 80px
		
		@media only screen and (min-width: 780px)
			margin-top 0
		
.callout
	border-bottom 1px solid black-thirty
	padding-bottom HalfLineHeight
	
	@media only screen and (min-width: 780px)
		border-bottom none
		float left
		width 28.9%
		
// ETHICAL DESIGN callouts
.human-rights
	&:before
		background url('/ethical-design/images/human-rights.svg') top center no-repeat
		background-size 80px
	
	@media only screen and (min-width: 780px)
		padding-right OneLineHeight
		
.human-effort
	&:before
		background url('/ethical-design/images/human-effort.svg') top center no-repeat
		background-size 80px
	
	@media only screen and (min-width: 780px)
		padding-right HalfLineHeight
		padding-left HalfLineHeight
		
	span.split-lines
		display block
		font-weight bold
		text-align center
		
		@media only screen and (min-width: 780px)
			margin-left auto
			margin-right auto
			max-width 170px /* constrain width to force text on to two lines */

.human-experience
	&:before
		background url('/ethical-design/images/human-experience.svg') top center no-repeat
		background-size 80px
	
	@media only screen and (min-width: 780px)
		padding-left OneLineHeight
	
.ethical-design-manifesto-description
	border-bottom 1px solid black-thirty
	padding-bottom OneLineHeight
	text-align center
	
	@media only screen and (min-width: 780px)
		padding-bottom TwoLineHeights

.ethical-design-manifesto-icon
	background url('/ethical-design/images/manifesto-document-icon.svg') top center no-repeat
	display block
	font-size 24px
	font-weight bold
	line-height OneAndAHalfLineHeights
	padding-top 144px /* height of icon + padding */
	text-decoration none


// hide content that's just there for print
.print-triangle
	display none

.print-logo
	display none
	
// share buttons

.share	
	h2, h3
		text-align center
		
	h2
		@media only screen and (min-width: 580px)
			margin-bottom 0
	
	h3
		@media only screen and (min-width: 580px)
			margin-top OneLineHeight
			
	p
		text-align center

code
	background black-five
	display block
	unicode-bidi embed
	font-family monospace
	font-size 14px
	line-height ThreeQuartersLineHeight
	text-align left
	margin HalfLineHeight
	white-space pre-wrap
	font-family monospace
	overflow auto
	padding 5px
	

	@media only screen and (min-width: 820px)
		border-radius 5px
		padding 10px 20px
	
.badges
	.flexbox &
		@media only screen and (min-width: 650px)
			display -ms-flexbox
			display -webkit-flex
			display flex
			-webkit-flex-direction row
			-ms-flex-direction row
			flex-direction row
			-webkit-flex-wrap wrap
			-ms-flex-wrap wrap
			flex-wrap wrap
			-webkit-justify-content center
			-ms-flex-pack center
			justify-content center
			-webkit-align-content stretch
			-ms-flex-line-pack stretch
			align-content stretch
			-webkit-align-items stretch
			-ms-flex-align stretch
			align-items stretch
		
		.badge
			@media only screen and (min-width: 650px)
				width 40%
	
.badge
	border 1px dashed black-twenty
	margin-bottom HalfLineHeight
	margin-right auto
	margin-left auto
	max-width 400px
	
	.example
		background none
		margin 0
		padding 0
		width 100%
		
		.flexbox &
			@media only screen and (min-width: 650px)
				-webkit-align-self center
				-ms-flex-item-align center
				align-self center
	
	.flexbox &
		@media only screen and (min-width: 650px)
			-webkit-flex 1 0 auto
			-ms-flex 1 0 auto
			flex 1 0 auto
			display -ms-flexbox
			display -webkit-flex
			display flex
			-webkit-flex-direction row
			-ms-flex-direction row
			flex-direction row
			-webkit-flex-wrap wrap
			-ms-flex-wrap wrap
			flex-wrap wrap
			-webkit-justify-content center
			-ms-flex-pack center
			justify-content center
			-webkit-align-content stretch
			-ms-flex-line-pack stretch
			align-content stretch
			-webkit-align-items flex-start
			-ms-flex-align start
			align-items flex-start
			
			&:nth-of-type(1)
				margin-right HalfLineHeight
	
	button, .button
		font-size 14px !important
		display block
		height 30px
		line-height 30px
		margin-right auto
		margin-left auto
		margin-top 0
		margin-bottom HalfLineHeight
		padding-top 0
		padding-bottom 0
		padding-left HalfLineHeight
		padding-right HalfLineHeight
		
		.flexbox &
			-webkit-align-self flex-end
			-ms-flex-item-align end
			align-self flex-end
	
	&.print, &.pdf
		background top center no-repeat
		padding-top 110px // leave enough room for icons (as specified below)
		
	&.print
		background-image url('../images/print.svg')
	
	&.pdf
		background-image url('../images/pdf.svg')
		
		.button
			max-width 135px