.demos
	border-top neutral6 1px solid
	overflow hidden
	padding-top 15px
	padding-bottom 30px

	h2
		font-weight bold

		.wf-active &
			abril-display-extra-bold()
			font-weight normal

	.demos--product
		list-style-type none

		@media only screen and (min-width: 570px)
			float left
			width 50%

		a
			display block

			img
				width 100%

	.product--citizenme
		margin-top -50px

	.product--cozycloud
		margin-top -40px

	.product--fairphone
		margin-top -60px

	.product--hoodie
		margin-top -65px

	.product--mailpile
		margin-top 30px

	.product--open-whisper-systems
		margin-top -30px

	.product--transmat
		margin-top -65px

	.product--vizicities
		margin-top -70px

	.product--arkos, .product--citizenme, .product--cloudfleet, .product--cozycloud, .product--fairphone, .product--hoodie, .product--indie-phone, .product--mailpile, .product--momentum, .product--open-whisper-systems, .product--transmat, .product--vizicities
		@media only screen and (min-width: 570px)
			margin-top 0