font-default()
	font-family Georgia, 'Times New Roman', serif
	font-size 25px
	line-height 30px

	@media only screen and (min-width: 760px)
		line-height 40px

abril-text-regular()
	font-family Abril Text Regular, Georgia, Times New Roman, Times, serif
	font-weight normal
	font-style normal

abril-text-bold()
	font-family Abril Text Bold, Georgia, Times New Roman, Times, serif
	font-weight bold
	font-style normal

abril-display-fatface-italic()
	font-family Abril Display Fatface Italic, Didot, Times New Roman, Times, serif
	font-weight 800
	font-style italic

abril-text-italic()
	font-family Abril Text Italic, Georgia, Times New Roman, Times, serif
	font-weight normal
	font-style italic

abril-display-extra-bold()
	font-family Abril Display Extra Bold, Didot, Times New Roman, Times, serif
	font-weight 800
	font-style normal