.sign-up
	border-top neutral6 1px solid
	border-bottom neutral3 2px solid
	margin-top -1px
	text-align left
	padding 15px 0

	.wf-active &
		padding 15px 0 15px 0

	@media only screen and (min-width: 760px)
		.wf-active &
			padding 30px 0 15px 0

.sign-up--heading
	color neutral3
	font-size 30px
	font-style italic
	font-weight bold
	text-align center
	line-height 40px

	.wf-active &
		abril-display-fatface-italic()
		line-height 35px

	@media only screen and (min-width: 760px)
		display inline-block
		float left
		font-size 38px
		line-height 60px
		margin-bottom 45px
		text-align left

.sign-up--label
	text-align center

	@media only screen and (min-width: 760px)
		float left
		text-align left
		width 28%

.sign-up--email-address
	margin 17.5px 0
	width 100%

	@media only screen and (min-width: 760px)
		float left
		margin-top 0
		margin-bottom 15px
		margin-left 30px
		width 45%

button.sign-up--email-submit

	@media only screen and (min-width: 760px)
		clear right
		float right
		padding 0 20px
		width 18%

.sign-up--no-spam
	color neutral6
	font-size 20px
	font-style italic
	margin-bottom -2px
	padding 0 0 15px 0
	text-align center

	.wf-active &
		abril-text-italic()
		padding 5px 0 15px 0

	@media only screen and (min-width: 760px)
		float right
		text-align left
		line-height 30px
		padding-top 15px
		padding-bottom 30px
		width 250px

		.wf-active &
			padding-top 0

.sign-up--message
	color accentdark
	clear both
	abril-text-bold()
	font-size 18px
	padding-top 15px
	text-align center

		@media only screen and (min-width: 760px)
			font-size 30px

.additional-information
	abril-text-regular()
	font-weight normal
	text-align center

	@media only screen and (min-width: 760px)
		font-size 24px

.sign-up--message--error
	color accentdark
	font-style normal
	font-size 24px
	text-align center

	@media only screen and (min-width: 760px)
		font-size 30px

.sign-up--message--thank-you
	color accentpositive
	text-align center
	font-size 24px

	@media only screen and (min-width: 760px)
		font-size 30px

.sign-up--message--progress-indicator
	clear both
	display block
	margin 0 auto