.sponsors
	border-top neutral6 1px solid

	h2
		font-size 30px
		line-height 45px
		margin-bottom 0

		@media only screen and (min-width: 760px)
			font-size 45px
			line-height 50px

		.wf-active &
			abril-display-extra-bold()
			font-size 36px
			line-height 45px

			@media only screen and (min-width: 760px)
				font-size 45px
				line-height 50px

	p
		font-size 21px
		line-height 25px
		margin-bottom 15px

		.wf-active &
			font-size 21px
			line-height 25px
