.tenets
	border-bottom neutral3 solid 1px
	clear both
	overflow hidden
	margin-bottom -1px
	padding 15px 0
	text-align center

	@media only screen and (min-width: 760px)
		.wf-active &
			line-height 60px
			padding 17.5px 0 12.5px 0

	li
		color neutral3
		display block
		font-size 24px
		font-weight bold
		line-height 40px
		list-style-type none
		position relative
		text-align center
		text-transform uppercase

		.wf-active &
			abril-display-extra-bold()

		@media only screen and (min-width: 760px)
			display inline-block
			font-size 31px
			line-height 45px

			.wf-active &
				font-size 36px

		@media only screen and (min-width: 900px)
			font-size 35px

		&:before,
		&:after
			background url('/about/summit/assets/images/sprites.svg') 0 0
			content ""
			display block
			position relative
			height 40px
			margin-top -6px
			margin-left auto
			margin-right auto
			width 40px

			@media only screen and (min-width: 360px)
				float left
				margin-left 0
				margin-right 0

			@media only screen and (min-width: 760px)
				margin-top -2px
				margin-right 3px
				width 43px

		&:nth-of-type(1):before
			background none
			height 0
			margin-right 0
			width 0

			@media only screen and (min-width: 360px)
				background url('/about/summit/assets/images/sprites.svg') 0 0
				height 40px
				width 40px

			@media only screen and (min-width: 760px)
				background none
				height 0
				margin-right 0
				width 0

		&:after
			background none
			float none
			height 0
			width 0

			@media only screen and (min-width: 360px)
				background url('/about/summit/assets/images/sprites.svg') 0 0
				float right
				height 40px
				width 40px

			@media only screen and (min-width: 760px)
				background none
				height 0
				width 0