.long-road-to-freedom
	display block
	margin-left auto
	margin-right auto
	margin-top 72px
	margin-bottom -40px
	width 107px /* compresses 2x image to 1x width */

.followup
	border-top 1px solid black-twenty
	margin-top TwoLineHeights
	padding-top OneLineHeight