.vision .main
	.time-to-move-beyond-the-clouds
		border-bottom none
		font-size 48px
		line-height TwoAndAQuarterLineHeights
		margin-bottom OneLineHeight
		margin-top OneLineHeight

		@media only screen and (min-width: 480px)
			font-size 64px
			line-height ThreeLineHeights
			margin-bottom OneAndAHalfLineHeights

	// Illustrations on homepage

	.indie-net-and-heartbeat
		display block
		margin-left auto
		margin-right auto
		width 132px /* compresses 2x image to 1x width */

	.long-road-to-freedom
		display block
		margin-left auto
		margin-right auto
		width 107px /* compresses 2x image to 1x width */

	p strong
		display block

	.countdown
		border-bottom none
		font-family "Avenir Next Ultra Light", "Avenir Next", Avenir, 'Helvetica Neue', Helvetica, sans-serif
		margin-bottom 20px
		text-align center

		@media only screen and (min-width: 820px)
			margin-top 100px

	.days
		color black-seventy
		font-size 65px
		font-weight normal
		line-height ThreeLineHeights

		@media only screen and (min-width: 480px)
			font-size 95px
			line-height ThreeLineHeights

		@media only screen and (min-width: 820px)
			font-size 150px

	.days-remaining
		font-weight bold

	.to-freedom
		color black-sixty
		display block
		font-size 45px

		@media only screen and (min-width: 480px)
			font-size 60px

		@media only screen and (min-width: 820px)
			font-size 60px
			line-height TwoAndAHalfLineHeights

#beyond-the-clouds-is-the-stratosphere
	border 5px solid black-thirty
	border-box()
	margin-bottom OneLineHeight

	@media only screen and (min-width: 480px)
		margin-bottom TwoLineHeights

#pre-alpha-notification
	text-align center

.dates
	margin-top TwoLineHeights
	text-align center

	.bootstrapping
		font-size 28px
		font-weight bold
		line-height TwoLineHeights
		margin-bottom 0

	.crowdfunding
		margin-bottom 0