.e-content
	.badge
		margin 0 auto
		margin-bottom OneLineHeight // because responsive pixels smushes this up if I include it in the rule above

	ol
		margin-bottom HalfLineHeight
		
		li
			margin-bottom 0