.main
	margin-top TwoLineHeights

h1.long-title
	margin-bottom OneLineHeight

	@media only screen and (min-width: 820px)
		font-size 64px
		line-height ThreeLineHeights

#transcript-select
	@media only screen and (min-width: 820px)
		margin-top HalfLineHeight