.main
	margin-top TwoLineHeights

	.long-title
		@media only screen and (min-width: 480px)
			font-size 52px
			line-height TwoLineHeights

		@media only screen and (min-width: 820px)
			font-size 70px
			line-height ThreeLineHeights

.three-rs
	margin-right auto
	margin-left auto
	width 320px
	
	.three-rs-list
		background-image url('../images/triangle.svg')
		background-repeat no-repeat
		background-position 0 0
		margin-left -14px
		padding-top 270px
		position relative
		width 320px
		
		.no-svg
			background-image url('../images/triangle.png')
		
		@media only screen and (min-width: 340px)
			margin-left 0

		li /* show the ordered list numbers */
			margin-left 33px
			
			@media only screen and (min-width: 340px)
				margin-left 70px
			
		h3
			font-size 18px
			line-height OneLineHeight
			margin-top HalfLineHeight
			margin-bottom HalfLineHeight
			
		li p:before
			display block
			font-weight bold
			
		.base-tier:before
			content '1'
		
		.middle-tier:before
			content '2'
			
		.top-tier:before
			content '3'
			
		p
			font-size 15px
			line-height 19px
			margin-left -18px /* offset the list numbers */
			position absolute
			text-align center
			
			@media only screen and (min-width: 340px)
				margin-left -30px
			
		.base-tier
			height 84px
			margin-left 3px /* -18px offset the list numbers */
			margin-right 21px
			padding-top 2px
			top 172px
			width 250px
			
			@media only screen and (min-width: 340px)
				margin-left -34px
				
			
		.middle-tier
			top 86px
			border-bottom 2px solid black-fifty
			height 69px
			margin-left 27px /* -18px offset the list numbers */
			margin-right 45px
			padding-top 11px
			width 200px
			
			@media only screen and (min-width: 340px)
				margin-left -10px
			
		.top-tier
			top 0
			border-bottom 2px solid black-fifty
			height 51px
			margin-left 77px /* -18px offset the list numbers */
			margin-right 95px
			padding-top 35px
			width 100px
			
			@media only screen and (min-width: 340px)
				margin-left 40px