.full-time
	clear both
	overflow hidden
	text-align center

	img
		margin-top 0 // remove margin as it's not collapsing against margin above

.team-names
	.hcard	
		@media only screen and (min-width: 780px)
			font-size 21px
			
	.punctuation
		@media only screen and (min-width: 780px)
			font-size 19px

.mdash
	display inline-block
	padding-right 2px
	padding-left 2px
	
	@media only screen and (min-width: 780px)
	// remove m-dashes on wider views
		display none

.p-job-title
	@media only screen and (min-width: 780px)
		// move on to second line on wider views
		display block
		line-height OneLineHeight

.team
	.p-name, .p-name a, .p-name span, .indie-team
		color black-ninety
		font-weight bold
		line-height OneLineHeight
		margin-bottom 0
		text-decoration none

		@media only screen and (min-width: 780px)
			font-size 21px
	
	.indie-team
		display block

.part-time
	.team-names
		@media only screen and (min-width: 780px)
			display -webkit-flex
			display flex
			-webkit-flex-flow row wrap
			flex-flow row wrap
			-webkit-justify-content center
			justify-content center
		
	.photo
		border-radius 50% /* make image circular */
		display block
		margin-bottom HalfLineHeight
		margin-right auto
		margin-left auto
		max-width 160px

		@media only screen and (min-width: 780px)
			margin-bottom OneLineHeight

	.h-card
		display block
		text-align center
		margin-bottom OneLineHeight

		@media only screen and (min-width: 780px)
			width 31%
			-webkit-flex 0 0 31%
			flex 0 0 31%