.full-time
	clear both
	overflow hidden
	text-align center

	img
		margin-top 0 /* remove margin as it's not collapsing against margin above */

.team-names
	@media only screen and (min-width: 780px)
		display -webkit-flex
		display flex
		-webkit-flex-flow row wrap
		flex-flow row wrap
		-webkit-justify-content center
		justify-content center

.h-card
	.mdash
		display inline-block
		padding-right 2px
		padding-left 2px

	.p-name
		margin-top HalfLineHeight

	.p-job-title, .p-role
		color black-seventy
		font-size 17px

	@media only screen and (min-width: 780px)
		float left
		padding-right 1%
		padding-left 1%
		padding-bottom OneLineHeight
		text-align center
		width 18%
		-webkit-flex 0 0 31%
		flex 0 0 31%

		.mdash
			height 0
			overflow hidden
			padding 0
			width 0

		.punctuation
			display inline-block
			height 0
			overflow hidden
			padding 0
			width 0

.name-george
	@media only screen and (min-width: 780px)
		-webkit-order 1
		-ms-flex-order 1
		order 1

.name-jo
	@media only screen and (min-width: 780px)
		-webkit-order 4
		-ms-flex-order 4
		order 4

.name-aral
	@media only screen and (min-width: 780px)
		-webkit-order 2
		-ms-flex-order 2
		order 2

.name-laura
	@media only screen and (min-width: 780px)
		-webkit-order 5
		-ms-flex-order 5
		order 5

.name-oskar
	@media only screen and (min-width: 780px)
		-webkit-order 3
		-ms-flex-order 3
		order 3

.team
	.p-name, .p-name a, .p-name span
		color black-ninety
		font-weight bold
		line-height OneLineHeight
		margin-bottom 0
		text-decoration none

		@media only screen and (min-width: 780px)
			display block
			font-size 21px

.part-time
	.photo
		border-radius 50% /* make image circular */
		display block
		margin-right auto
		margin-left auto
		max-width 160px

	.h-card
		display block
		text-align center

		@media only screen and (min-width: 780px)
			width 31%
			-webkit-flex 0 0 31%
			flex 0 0 31%