.style-guide
	h1, h2, h3, h4
		clear both

.swatches
	margin 0

	.swatch
		line-height 50px
		list-style-type none
		margin 0
		margin-bottom -1px
		overflow hidden
		position relative
		text-align right

		.block
			display block
			float left
			height 0
			margin-right OneLineHeight
			overflow hidden
			padding-top 50px
			padding-right 40%
			position relative
			width 0

.csscolumns .logos
	@media only screen and (min-width: 700px)
		-moz-column-count 2
		-moz-column-gap HalfLineHeight
		-webkit-column-count 2
		-webkit-column-gap HalfLineHeight
		column-count 2
		column-gap HalfLineHeight

		.logo
			-webkit-column-break-inside avoid /* Chrome, Safari, Opera */
			page-break-inside avoid /* Firefox */
			break-inside avoid /* IE 10+ */
			float none
			margin-right 0
			max-width 100%

.logo
	border 1px solid black-ten
	border-box()
	margin 0 0 HalfLineHeight 0
	max-width 500px
	padding HalfLineHeight

	@media only screen and (min-width: 700px)
		float left
		margin-right 2.5%
		max-width 45%

	img
		border-box()
		margin-top 0
		margin-bottom HalfLineHeight
		width 100%

	.on-black, .on-grey, .on-white
		padding OneLineHeight

	.on-black
		background black

	.on-grey
		background black-fifty

	.on-white
		background white

	figcaption
		margin-bottom 0

		h3
			font-size 18px
			line-height OneLineHeight
			margin-bottom QuarterLineHeight

		p
			margin-bottom 0