.swatches
	margin 0

	.swatch
		line-height 50px
		list-style-type none
		margin 0
		margin-bottom -1px
		overflow hidden
		position relative
		text-align right

		.block
			display block
			float left
			height 0
			margin-right OneLineHeight
			overflow hidden
			padding-top 50px
			padding-right 40%
			position relative
			width 0

.on-black
	background black
	max-width 500px
	padding TwoLineHeights

.on-grey
	background black-fifty
	max-width 500px
	padding TwoLineHeights

.on-white
	background white
	max-width 500px
	padding TwoLineHeights

/* put more space between logo headings */
figure
	margin-bottom TwoLineHeights